<h1>
  Menu
</h1>

<h1 class="title">
  Slaymaker Cellars
</h1>

<div class="page">
  <div class="column">
    <fieldset>
      <legend>Tasting Room <br/>& Wine Shop</legend>

      <p>
        Welcome to the tasting room for our meadery. This space is a tasting room, not a restaurant.
      </p>
      <p>
        We offer on premise and off premise drinks.
        We carry the mead we make, as well as other colorado alcohol.
        Order at the bar.
      </p>
      <p>
        Everything on our shelves is available by the glass or by the bottle.
        Taxes included in all prices.
      </p>
    </fieldset>

    <fieldset>
      <legend>Food</legend>

      <p>
        You can order a selection of food from the deli next door. They will deliver it to your table.
      </p>
    </fieldset>
  </div>

  <div class="column">
    <fieldset>
      <legend>House Mead</legend>
      <table>
        <tr>
          <th></th>
          <th>Glass</th>
          <th>Bottle</th>
        </tr>
        <tr>
          <td>Wildflower Traditional</td>
          <td>6</td>
          <td>25</td>
        </tr>
        <tr>
          <td>Orange Blossom Traditional</td>
          <td>6</td>
          <td>25</td>
        </tr>
        <tr>
          <td>Tart Cherry Mead</td>
          <td>6</td>
          <td>25</td>
        </tr>
        <tr>
          <td>Mazer Series</td>
          <td>7</td>
          <td>35</td>
        </tr>
        <tr>
          <td>Session Mead</td>
          <td>7</td>
          <td></td>
        </tr>
        <tr>
          <td>Oak Aged Mead</td>
          <td>8</td>
          <td></td>
        </tr>
      </table>
    </fieldset>

    <fieldset>
      <legend>Flights</legend>

      <p>
        We offer “Build Your Own” flights. Ask the meadtender to set you up with a flight.
      </p>

      <table>
        <tr>
          <td>Small Flight - 1oz pours</td>
          <td>8</td>
        </tr>
        <tr>
          <td>Large Flight - 2oz pours</td>
          <td>15</td>
        </tr>
      </table>
    </fieldset>

    <fieldset>
      <legend>Guest Mead</legend>
      <table>
        <tr>
          <th></th>
          <th>Glass</th>
          <th>Bottle</th>
        </tr>
        <tr>
          <td>Meadkrieger Traditional</td>
          <td>7</td>
          <td>25</td>
        </tr>
        <tr>
          <td>Meadkrieger Oak Aged</td>
          <td>8</td>
          <td>30</td>
        </tr>
        <tr>
          <td>Hunter's Moon Meadery</td>
          <td>7</td>
          <td>27</td>
        </tr>
        <tr>
          <td>Dragon Meadery</td>
          <td>10</td>
          <td>25</td>
        </tr>
        <tr>
          <td>Redstone Honey Wine</td>
          <td>7</td>
          <td>25</td>
        </tr>
        <tr>
          <td>Redstone Nectar</td>
          <td>6</td>
          <td>20</td>
        </tr>
      </table>
    </fieldset>
  </div>
</div>

<h1 class="title">
  Slaymaker Cellars
</h1>

<div class="page">

  <div class="column">
    <fieldset>
      <legend>Colorado Wine</legend>
      <table>
        <tr>
          <th>Red</th>
          <th>Glass</th>
          <th>Bottle</th>
        </tr>
        <tr>
          <td>Carlson Vineyards<br />Sweet Baby Red</td>
          <td>6</td>
          <td>20</td>
        </tr>
        <tr>
          <td>Carlson Vineyards 365 Red</td>
          <td>7</td>
          <td>25</td>
        </tr>
        <tr>
          <td>Colterris Cabernet Franc</td>
          <td></td>
          <td>40</td>
        </tr>
        <tr>
          <td>Colterris Cabernet Sauvignon</td>
          <td>8</td>
          <td>30</td>
        </tr>
        <tr>
          <td>Colterris Merlot</td>
          <td>8</td>
          <td>30</td>
        </tr>
        <tr>
          <td>Colterris Petit Verdot</td>
          <td>9</td>
          <td>35</td>
        </tr>
        <tr>
          <td>Peachfork Red Plateau</td>
          <td>7</td>
          <td>28</td>
        </tr>
        <tr>
          <td>Savage Spectrum Teroldego</td>
          <td></td>
          <td>35</td>
        </tr>
        <tr>
          <td>Savage Spectrum<br />Devil's Prey</td>
          <td></td>
          <td>35</td>
        </tr>
        <tr>
          <td>Savage Spectrum Malbec</td>
          <td></td>
          <td>35</td>
        </tr>
      </table>

      <table>
        <tr>
          <th>Rosé</th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <td>Colterris Coral</td>
          <td>8</td>
          <td>30</td>
        </tr>
        <tr>
          <td>Colterris Livid</td>
          <td>8</td>
          <td>30</td>
        </tr>
        <tr>
          <td>Plum Creek Palisade Rosé</td>
          <td>5</td>
          <td>15</td>
        </tr>
      </table>

      <table>
        <tr>
          <th>Sparkling</th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <td>Savage Spectrum<br />White Sparklet</td>
          <td>7</td>
          <td>27</td>
        </tr>
        <tr>
          <td>Savage Spectrum Candy Red</td>
          <td>7</td>
          <td>27</td>
        </tr>
        <tr>
          <td>Savage Spectrum Pet Nat</td>
          <td>7</td>
          <td>27</td>
        </tr>
      </table>
    </fieldset>

    <fieldset>
      <legend>Sake</legend>
      <table>
        <tr>
          <th></th>
          <th>Glass</th>
          <th>Bottle</th>
        </tr>
        <tr>
          <td>Colorado Sake Co.<br />American Standard</td>
          <td>7</td>
          <td>16</td>
        </tr>
        <tr>
          <td>Colorado Sake Co. Rotating</td>
          <td>7</td>
          <td>16</td>
        </tr>
      </table>
    </fieldset>
  </div>


  <div class="column">
    <fieldset>
      <legend>Colorado Wine</legend>
      <table>
        <tr>
          <th>White</th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <td>Plum Creek<br />Reserve Chardonnay</td>
          <td>8</td>
          <td>30</td>
        </tr>
        <tr>
          <td>Plum Creek Riesling</td>
          <td>6</td>
          <td>20</td>
        </tr>
        <tr>
          <td>Plum Creek Festival White</td>
          <td>6</td>
          <td>20</td>
        </tr>
        <tr>
          <td>Savage Spectrum<br />Reserve White</td>
          <td>8</td>
          <td>30</td>
        </tr>
        <tr>
          <td>Savage Spectrum Albariño</td>
          <td>7</td>
          <td>25</td>
        </tr>
        <tr>
          <td>Dragon Moscato</td>
          <td>7</td>
          <td>25</td>
        </tr>
        <tr>
          <td>Peachfork Peach Wine</td>
          <td>7</td>
          <td>25</td>
        </tr>
        <tr>
          <td>Peachfork Apple Pear Wine</td>
          <td>7</td>
          <td>25</td>
        </tr>
      </table>

      <table>
        <tr>
          <th>Cans</th>
          <th>Single</th>
          <th>4-Pack</th>
        </tr>
        <tr>
          <td>Centennial Cellars Wine</td>
          <td>9</td>
          <td></td>
        </tr>
        <tr>
          <td>Centennial Cellars Spritzer</td>
          <td>5</td>
          <td>15</td>
        </tr>
        <tr>
          <td>Canterris Wine</td>
          <td>7</td>
          <td>25</td>
        </tr>
      </table>
    </fieldset>

    <fieldset>
      <legend>Cider</legend>
      <table>
        <tr>
          <th>375ml Bottles</th>
          <th>Glass</th>
          <th>Bottle</th>
        </tr>
        <tr>
          <td>Snow Capped Arkansas Black</td>
          <td>8</td>
          <td>16</td>
        </tr>
        <tr>
          <td>Snow Capped Newtown Pippin</td>
          <td>8</td>
          <td>16</td>
        </tr>
        <tr>
          <th>Cans</th>
          <th>Single</th>
          <th>4-Pack</th>
        </tr>
        <tr>
          <td>Snow Cap Cider</td>
          <td>5</td>
          <td>16</td>
        </tr>
        <tr>
          <td>Talbott's Pinch 'O Fuego</td>
          <td>5</td>
          <td>14</td>
        </tr>
        <tr>
          <td>Talbott's Alpine Start</td>
          <td>5</td>
          <td>16</td>
        </tr>
        <tr>
          <td>Handlebar Rotating</td>
          <td>5</td>
          <td>16</td>
        </tr>
        <tr>
          <td>Pagetree Cider</td>
          <td>6</td>
          <td>20</td>
        </tr>
      </table>
    </fieldset>

    <fieldset>
      <legend>Non-Alcoholic</legend>
      <table>
        <tr>
          <th></th>
          <th>Glass</th>
          <th>Bottle</th>
        </tr>
        <tr>
          <td>Gruuvi Sparkling Dry Secco</td>
          <td>5</td>
          <td></td>
        </tr>
        <tr>
          <td>Gruuvi Bubbly Rosé</td>
          <td>5</td>
          <td></td>
        </tr>
      </table>
    </fieldset>
  </div>
</div>