<h1>
  Menu
</h1>

<h1 class="title">
  Slaymaker Cellars
</h1>

<div class="page">
  <div class="column">
    <fieldset>
      <legend>Tasting Room <br/>& Wine Shop</legend>
      <p>
        After many years of homebrewing mead, Cris and Kent Slaymaker decided to make the switch to commercial
        mead making.  They built their basement into a licensed winery production space and founded
        Slaymaker Cellars in 2019.
      </p>
      <p>
        Our mead was well received and needed to grow, so we hired some folks to work with us. Slaymaker Cellars is
        now an award winning, Employee Owned Meadery.
      </p>
      <p>
        We offer mead, wine, cider, and more by the glass or in bottles to go.
        Let us know at the bar what you would like to try, or if you can't decide, check out our flights.
        We are happy to walk you through all of the options available.
      </p>
      <p>
        Taxes included in all prices.
      </p>
    </fieldset>

    <fieldset>
      <legend>Food</legend>

      <p>
        You can order a selection of food from the deli next door. They will bring it to your table.
      </p>
      <p>
        Outside food is also welcome.
      </p>
    </fieldset>
  </div>

  <div class="column">
    <fieldset>
      <legend>House Mead</legend>
      <table>
        <tr>
          <th></th>
          <th>Glass</th>
          <th>Bottle</th>
        </tr>
        <tr>
          <td>Wildflower Traditional</td>
          <td>6</td>
          <td>25</td>
        </tr>
        <tr>
          <td>Orange Blossom Traditional</td>
          <td>6</td>
          <td>25</td>
        </tr>
        <tr>
          <td>Tart Cherry Mead</td>
          <td>6</td>
          <td>25</td>
        </tr>
        <tr>
          <td>Mazer Series</td>
          <td>7</td>
          <td>35</td>
        </tr>
        <tr>
          <td>Session Mead</td>
          <td>7</td>
          <td></td>
        </tr>
        <tr>
          <td>Oak Aged Mead</td>
          <td>8</td>
          <td></td>
        </tr>
        <tr>
          <td>Reserve Mead</td>
          <td colspan=2>Varies</td>
        </tr>
      </table>
    </fieldset>

    <fieldset>
      <legend>Flights</legend>

      <p>
        We offer “Build Your Own” flights.<br />Ask the meadtender to set you up with a flight.
      </p>

      <table>
        <tr>
          <td colspan="2">Small Flight - 5x 1oz pours</td>
          <td>8</td>
        </tr>
        <tr>
          <td colspan="2">Large Flight - 5x 2oz pours</td>
          <td>15</td>
        </tr>
      </table>
    </fieldset>

    <fieldset>
      <legend>Guest Mead</legend>
      <table>
        <tr>
          <th></th>
          <th>Glass</th>
          <th>Bottle</th>
        </tr>
        <tr>
          <td>Meadkrieger Traditional</td>
          <td>7</td>
          <td>25</td>
        </tr>
        <tr>
          <td>Meadkrieger Oak Aged</td>
          <td>8</td>
          <td>30</td>
        </tr>
        <tr>
          <td>Meadkrieger Odrerir</td>
          <td>9</td>
          <td>35</td>
        </tr>
        <tr>
          <td>Hunter's Moon Meadery</td>
          <td>7</td>
          <td>27</td>
        </tr>
        <tr>
          <td>Miracle Stag Meadery</td>
          <td>9</td>
          <td>33</td>
        </tr>
        <tr>
          <td>Redstone Honey Wine</td>
          <td>7</td>
          <td>25</td>
        </tr>
        <tr>
          <td>Redstone Nectar</td>
          <td>6</td>
          <td>20</td>
        </tr>
      </table>
    </fieldset>

    <fieldset>
      <legend>Non-Alcoholic</legend>
      <table>
        <tr>
          <th></th>
          <th>Glass</th>
          <th>Bottle</th>
        </tr>
        <tr>
          <td>Gruuvi Sparkling Dry Secco</td>
          <td>5</td>
          <td></td>
        </tr>
        <tr>
          <td>Gruuvi Bubbly Rosé</td>
          <td>5</td>
          <td></td>
        </tr>
        <tr>
          <td>Gruuvi Sangria</td>
          <td>5</td>
          <td></td>
        </tr>
      </table>
    </fieldset>
  </div>
</div>

<h1 class="title">
  Slaymaker Cellars
</h1>

<div class="page">

  <div class="column">
    <fieldset>
      <legend>Colorado Wine</legend>
      <table>
        <tr>
          <th>Red</th>
          <th>Glass</th>
          <th>Bottle</th>
        </tr>
        <tr>
          <td>Carlson Vineyards<br />Sweet Baby Red</td>
          <td>6</td>
          <td>20</td>
        </tr>
        <tr>
          <td>Carlson Vineyards<br />Tyrannosaurus Red</td>
          <td>8</td>
          <td>30</td>
        </tr>
        <tr>
          <td>Carlson Vineyards 365 Red</td>
          <td>6</td>
          <td>22</td>
        </tr>
        <tr>
          <td>Colterris Cabernet Franc 2020</td>
          <td></td>
          <td>50</td>
        </tr>
        <tr>
          <td>Colterris Cabernet Franc</td>
          <td>9</td>
          <td>33</td>
        </tr>
        <tr>
          <td>Colterris Cabernet Sauvignon</td>
          <td>9</td>
          <td>33</td>
        </tr>
        <tr>
          <td>Colterris Coloradeaux</td>
          <td>9</td>
          <td>35</td>
        </tr>
        <tr>
          <td>Colterris Merlot</td>
          <td>9</td>
          <td>33</td>
        </tr>
        <tr>
          <td>Colterris Petit Verdot</td>
          <td>9</td>
          <td>35</td>
        </tr>
        <tr>
          <td>High Desert Wine Lab</td>
          <td>9</td>
          <td>33</td>
        </tr>
        <tr>
          <td>Peachfork Chambourcin</td>
          <td>7</td>
          <td>28</td>
        </tr>
        <tr>
          <td>Sauvage Spectrum Teroldego</td>
          <td>9</td>
          <td>35</td>
        </tr>
        <tr>
          <td>Sauvage Spectrum<br />Devil's Prey</td>
          <td>9</td>
          <td>35</td>
        </tr>
        <tr>
          <td>Sauvage Spectrum Malbec</td>
          <td>9</td>
          <td>35</td>
        </tr>

        <tr>
          <th>Rosé</th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <td>Colterris Coral</td>
          <td>8</td>
          <td>30</td>
        </tr>
        <tr>
          <td>Colterris Livid</td>
          <td>8</td>
          <td>30</td>
        </tr>
        <tr>
          <td>Plum Creek Palisade Rosé</td>
          <td>6</td>
          <td>20</td>
        </tr>
        <tr>
          <td>Sauvage Spectrum Domain Rosé</td>
          <td>7</td>
          <td>25</td>
        </tr>

        <tr>
          <th>Sparkling</th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <td>Sauvage Spectrum<br />White Sparklet</td>
          <td>7</td>
          <td>27</td>
        </tr>
        <tr>
          <td>Sauvage Spectrum Pet Nat</td>
          <td>7</td>
          <td>27</td>
        </tr>
      </table>
    </fieldset>

  </div>


  <div class="column">
    <fieldset>
      <legend>Colorado Wine</legend>
      <table>
        <tr>
          <th>White</th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <td>Blue Beryl Winery Chenin Blanc</td>
          <td>8</td>
          <td>30</td>
        </tr>
        <tr>
          <td>Carlson Vineyards<br />365 White</td>
          <td>6</td>
          <td>22</td>
        </tr>
        <tr>
          <td>Carlson Vineyards Sweet Baby White</td>
          <td>6</td>
          <td>20</td>
        </tr>
        <tr>
          <td>Carlson Vineyards Cherry Wine</td>
          <td>6</td>
          <td>20</td>
        </tr>
        <tr>
          <td>Carlson Vineyards Peach Wine</td>
          <td>6</td>
          <td>20</td>
        </tr>
        <tr>
          <td>Colterris Chardonnay</td>
          <td>9</td>
          <td>35</td>
        </tr>
        <tr>
          <td>Colterris Pinot Gris</td>
          <td>8</td>
          <td>30</td>
        </tr>
        <tr>
          <td>Colterris Sauvignon Blanc</td>
          <td>8</td>
          <td>30</td>
        </tr>
        <tr>
          <td>Peachfork Gewürztraminer</td>
          <td>7</td>
          <td>25</td>
        </tr>
        <tr>
          <td>Peachfork Traminette</td>
          <td>7</td>
          <td>25</td>
        </tr>
        <tr>
          <td>Plum Creek<br />Reserve Chardonnay</td>
          <td>8</td>
          <td>30</td>
        </tr>
        <tr>
          <td>Plum Creek Riesling</td>
          <td>7</td>
          <td>23</td>
        </tr>
        <tr>
          <td>Plum Creek<br />Single Vineyard Riesling</td>
          <td>9</td>
          <td>33</td>
        </tr>
        <tr>
          <td>Plum Creek Festival White</td>
          <td>6</td>
          <td>20</td>
        </tr>
        <tr>
          <td>Sauvage Spectrum<br />Reserve White</td>
          <td>8</td>
          <td>30</td>
        </tr>
        <tr>
          <td>Sauvage Spectrum Albariño</td>
          <td>7</td>
          <td>25</td>
        </tr>
        <tr>
          <td>Sauvage Spectrum All Day Verde</td>
          <td>7</td>
          <td>15</td>
        </tr>
        <tr>
          <td>Peachfork Peach Wine</td>
          <td>7</td>
          <td>25</td>
        </tr>
        <tr>
          <td>Peachfork Apple Pear Wine</td>
          <td>7</td>
          <td>25</td>
        </tr>

        <tr>
          <th>Cans</th>
          <th>Single</th>
          <th>4-Pack</th>
        </tr>
        <tr>
          <td>Centennial Cellars Wine</td>
          <td>9</td>
          <td></td>
        </tr>
        <tr>
          <td>Centennial Cellars Spritzer</td>
          <td>4</td>
          <td>12</td>
        </tr>
        <tr>
          <td>Canterris Wine</td>
          <td>7</td>
          <td>25</td>
        </tr>
        <tr>
          <td>Peachfork Pear Apple Wine</td>
          <td>11</td>
          <td></td>
        </tr>
      </table>
    </fieldset>

  </div>
</div>

<div class="page">
  <h1 class="title">
    Slaymaker Cellars
  </h1>
  <div class="column">
    <fieldset>
      <legend>Sake</legend>
      <table>
        <tr>
          <th></th>
          <th>Glass</th>
          <th>Bottle</th>
        </tr>
        <tr>
          <td>
            Colorado Sake Co.
            <span class="flavors">
              American Standard, Blueberry Hibiscus, Lychee Nigori, Horchata Nigori
            </span>
          </td>
          <td>7</td>
          <td>16</td>
        </tr>
      </table>
    </fieldset>
  </div>
  <div class="column">
    <fieldset>
      <legend>Cider</legend>
      <table>
        <tr>
          <th>375ml Bottles</th>
          <th>Glass</th>
          <th>Bottle</th>
        </tr>
        <tr>
          <td>Snow Capped Arkansas Black</td>
          <td>8</td>
          <td>16</td>
        </tr>
        <tr>
          <td>Snow Capped Newtown Pippin</td>
          <td>8</td>
          <td>16</td>
        </tr>
        <tr>
          <td>Snow Capped Winter Pear</td>
          <td>8</td>
          <td>16</td>
        </tr>
        <tr>
          <th>750ml Bottles</th>
          <th>Glass</th>
          <th>Bottle</th>
        </tr>
        <tr>
          <td>Colorado Cider Co Golden Russet</td>
          <td>7</td>
          <td>25</td>
        </tr>
        <tr>
          <td>Snow Capped Ashmead's Kernel</td>
          <td>8</td>
          <td>27</td>
        </tr>
        <tr>
          <td>Snow Capped Rose Cider</td>
          <td>8</td>
          <td>27</td>
        </tr>
        <tr>
          <td>Snow Capped Pinova</td>
          <td>8</td>
          <td>27</td>
        </tr>
        <tr>
          <td>Snow Capped Rosé Cider</td>
          <td>8</td>
          <td>27</td>
        </tr>
        <tr>
          <th>Cans</th>
          <th>Single</th>
          <th>4-Pack</th>
        </tr>
        <tr>
          <td>
            Snow Cap Cider
            <span class="flavors">
              Plum and Lemongrass, Sour Cherry, Lavender Lemonade, Honeycrisp, White Wine Perry, Colorado Peach,
              JalaPEARño, Hopped
            </span>
          </td>
          <td>5</td>
          <td>16</td>
        </tr>
        <tr>
          <td>
            Snow Capped Cider
            <span class="flavors">
              Winesap, Kingston Black, Harrison 18th Century Colonial
            </span>
          </td>
          <td>5</td>
          <td>18</td>
        </tr>
        <tr>
          <td>
            The Oldmine
            <span class="flavors">
              Peach Vanilla Colorado Sunshine, Tequila Pear
            </span>
          </td>
          <td>5</td>
          <td>20</td>
        </tr>
        <tr>
          <td>
            Talbott's
            <span class="flavors">
              Alpine Start, Hot Girl Summer
            </span>
          </td>
          <td>5</td>
          <td>16</td>
        </tr>
        <tr>
          <td>Handlebar Rotating</td>
          <td>5</td>
          <td>16</td>
        </tr>
      </table>
    </fieldset>
  </div>
</div>
