<h1>
  Visit Us
</h1>

<div class="section">
  <%= image_tag 'tasting_room.jpg', class: 'float-right' %>
  <h3>
    <%= link_to 'Check out our Menu', ApplicationHelper::MENU_URL, target: '_blank', class: 'menu' %>
  </h3>
  <p>
    Our tasting room is in the heart of downtown Idaho Springs, Colorado.
    It is a great place to relax for a bit while trying some mead. We also sell bottles to go, perfect for your trip
    into the mountains.
  </p>

  <p>
    We always have the latest flavors from our "Mazer Series" available for sampling.
  </p>
</div>

<div class="section">
  <h2>
    Hours
  </h2>

  <table>
    <tr>
      <td>Monday</td>
      <td>10am - 5pm</td>
    </tr>
    <tr>
      <td>Tuesday</td>
      <td>10am - 5pm</td>
    </tr>
    <tr>
      <td>Wednesday</td>
      <td>10am - 5pm</td>
    </tr>
    <tr>
      <td>Thursday</td>
      <td>10am - 5pm</td>
    </tr>
    <tr>
      <td>Friday</td>
      <td>10am - 6pm</td>
    </tr>
    <tr>
      <td>Saturday</td>
      <td>10am - 6pm</td>
    </tr>
    <tr>
      <td>Sunday</td>
      <td>10am - 6pm</td>
    </tr>
  </table>

  <h2>
    Directions
  </h2>
  <iframe
    width="600"
    height="450"
    frameborder="0" style="border:0; margin-bottom: 2em;"
    src="https://www.google.com/maps/embed/v1/place?key=<%= @google_api_key %>&q=1535+Miner+st,+Idaho+springs,+CO"
    allowfullscreen>
    >

  </iframe>
</div>
