<h1>
  Visit Us
</h1>

<p>
  Take a break from I-70 traffic to visit our scenic pop-up tasting room at Strousse Park in Georgetown, CO.
  It is a great place to relax for a bit while trying some mead. We also sell bottles to go, perfect for your trip
  into the mountains.
</p>

<p>
  The scenery is incredible, but we are outside. Remember to bring a jacket!
</p>

<h2>
  Hours
</h2>

<table>
  <tr>
    <td>Saturday</td>
    <td>10am - 5pm</td>
  </tr>
</table>

<h2>
  Directions
</h2>
<iframe
    width="600"
    height="450"
    frameborder="0" style="border:0; margin-bottom: 2em;"
    src="https://www.google.com/maps/embed/v1/place?key=<%= @google_api_key %>&q=Strousse+Park+Georgetown,+CO"
    allowfullscreen>
>

</iframe>