<div class="nested-fields">
  <span class="field">
    <%= f.number_field :quantity, min:1 %>
  </span>
  <span class="field">
    <% f.label :product_id %>
    <%= f.collection_select(:product_id,
                            Product.all.order("name ASC"),
                            :id,
                            :name,
                            {prompt: "Select Product"})
    %>
  </span>

  <span>  
    <%= link_to_remove_association "X", f %>
  </span>
</div>
