<div class="nested-fields">
  <span class="field">
    <%= f.number_field :quantity, min: 1 %>
  </span>
  <span class="field">
    <% f.label :product_id %>
    <%= f.collection_select(:product_id,
                            Product.in_production.order("name ASC"),
                            :id,
                            :name,
                            {prompt: "Select Product"})
    %>
  </span>
</div>
