<h1>New Contact</h1>

<%= form_for(@contact, url: admin_contacts_path, html: {multipart: true, autocomplete: 'off'}) do |form| -%>
  <%= render 'form', contact: @contact, form: form %>
<% end %>

<%= link_to 'Back', admin_contacts_path %>
