<h1>Reports</h1>

<ul>
<!--  <li>-->
    <%#= link_to 'Keg Report', admin_reports_kegs_path %>
<!--  </li>-->
  <li>
    <%= link_to 'Wholesale Orders Report', admin_reports_orders_path %>
  </li>
</ul>
