<h1>Wholesale Orders Report</h1>

<p>
  <%= link_to 'Reports', admin_reports_path %>
</p>

<table class="crud">
  <tr class="title">
    <th>Contact</th>
    <th># kegs</th>
    <th>Last Contacted</th>
  </tr>

</table>

<br/>