<h1>Welcome, <%= @user.name %></h1>
<p>
  Your wholesale account for Slaymaker Cellars has been activated.
  Your username is: <%= @user.email %>.
</p>
<p>
  To login to the site, just follow this link: <a href="https://www.SlaymakerCellars.com/customer">Customer Page</a>.
</p>
<p>Thanks for joining and have a great day!</p>