<h1><%= @user.name %> has signed up for a wholesale account</h1>
<p>
  <%= @user.name %> signed up with the email <%= @user.email %> for a wholesale account.
</p>
<p>
  If you know which contact this is for,
  <a href="https://www.slaymakercellars.com/admin/users/<%= @user.id %>/edit">activate the account here</a>.
</p>
