@import 'variables';

$tr-bg: $brown;
$content-width: 90%;

body.admin {

  div.content {
    position: inherit;
    width: $content-width;
    max-width: $content-width;
    padding-left: 50%;
    margin-left: -($content-width/2);
  }

  .column {
    width: 30%;
    display: inline-block;
    vertical-align: top;
  }

  div.field {
    margin-top: 1em;

    label {
      vertical-align: top;
      display: block;
    }

    label.inline {
      display: inline;
    }
  }

  .wide-wrapper {
    position: relative;
    overflow-x: auto;
    width: 100%;

    table.crud {
      border: 1px solid $black;
      border-spacing: 0;
      color: $blue;

      a {
        color: $blue;
      }

      .unresolved {
        color: $red;

        a {
          color: $red;
        }
      }

      th {
        background: darken($tr-bg, 20);
        text-align: center;
        color: $white;

        a, a:visited, a:active {
          color: $white;
        }

        a.up::after {
          content: "↑";
        }

        a.down::after {
          content: "↓";
        }
      }

      td {
        border-top: 1px solid black;
        padding: 0 2.5em;
        text-align: center;
        height: 1.5em;
        white-space: nowrap;
      }

      tr {
        background: $white;
      }

      tr.odd {
        background: lighten($tr-bg, 50);
      }

      tr:hover {
        background: $tr-bg;
        color: $white;

        a {
          color: $white;
        }
      }

      tr.title:hover {
        a {
          color: $white;
        }
      }
    }

    div.c-panel {
      a {
        text-decoration: none;
      }

      fieldset {
        width: 25%;
        display: inline-block;
        height: 12em;
        vertical-align: top;
        border: 2px ridge $grey-light;
        margin-bottom: 2em;
        color: $black;

        legend {
          font-weight: bold;
          font-size: x-large;
          border: 2px ridge $grey-light;
          color: $brown;
          background-color: $blue;
          background: -webkit-linear-gradient($brown, $blue); /* For Safari 5.1 to 6.0 */
          background: -o-linear-gradient($brown, $blue); /* For Opera 11.1 to 12.0 */
          background: -moz-linear-gradient($brown, $blue); /* For Firefox 3.6 to 15 */
          background: linear-gradient($brown, $blue); /* Standard syntax */

          a {
            color: $white;
          }

          a:hover {
            color: $grey-light;
          }
        }

        ul {
          list-style: none;
          line-height: 2em;
          display: inline-block;

          li {
            a {
              color: $black;
              border: 2px outset $grey-light;
              background: $white;
              padding: 2px;
            }

            a:active {
              border: 2px inset $grey-light;
            }
          }

          li.urgent {
            a {
              border: 2px outset #c00;
              background: #d00;
              color: $white;
            }
          }
        }
      }
    }
  }

  div.xero_errors {
    width: 40%;
    padding: 0 1em;
    margin: 1em 0;
    border: 1px solid $red;
    color: red;
    background-color: lighten($red, 50%);
  }
}
