@import 'variables';

ul {
  li {
    list-style: none;
  }

}

ul.states {

  li.state {
    border: 1px solid $brown;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    padding: .5em;
    margin: 0 0 5% 1em;

    .state {
      font-size: x-large;
      font-weight: bold;
      color: $tan;
    }

    li.town {
      width: 30%;
      display: inline-block;
      vertical-align: top;

      ul.contacts {
        li.contact {
          a, a:visited, a:active {
            color: darken($tan, 00%);
          }

          a:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}