@import 'variables';

ul {
  li {
    list-style: none;
  }

}

ul.states {

  li.state {
    border: 1px solid $blue;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    padding: .5em;
    margin: 0 0 5% 1em;

    .state {
      font-size: x-large;
      font-weight: bold;
      color: $blue;
    }

    li.town {
      width: 40%;
      margin: 0 0 1em 4%;
      display: inline-block;
      vertical-align: top;
    }
  }
}