<h1>Your Delivery Route</h1>

<p>
  Click the link below to see your delivery route:
</p>

<%= link_to 'Your Delivery Route', @url, target: '_blank' %>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
