<h1>Products</h1>

<ul>
  <% @products.each do |product| %>
    <li>
      <span><%= product.name %></span>
      <span>ABV: <%= product.abv %></span>
      <pre><%= product.description %></pre>
      <%= image_tag product.img %>
    </li>
  <% end %>
</ul>
