<h1>Our Meads</h1>

<div class="categories">
  <% Product::CATEGORIES.each do |category| -%>
    <div class="link">
      <%= link_to category, products_path({ category: category }), class: active_sort(category, @category) %>
      <span class="arrow">></span>
    </div>
  <% end -%>
</div>

<ul class="mead-list">
  <% @products.each do |product| %>
    <li>
      <%#= image_tag(product.photo.url :small) %>
      <h2 class="title"><%= product.name %></h2>
      <pre><%= product.description %></pre>
    </li>
  <% end %>
</ul>
