<h1>Our Products</h1>

<ul>
  <% @products.each do |product| %>
    <li>
      <span><%= link_to product.name, product %></span>
      <%= image_tag product.bottle_image.variant(resize_to_limit: [150, nil]) %>
    </li>
  <% end %>
</ul>
