<h1>States</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @states.each do |state| %>
      <tr>
        <td><%= link_to state.name, edit_admin_state_path(state)%></td>
        <td>
          <%= link_to 'X', admin_state_path(state), method: :delete, id: "delete_#{state.id}", data: {confirm: 'Are you sure?' } %>
          &nbsp;
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New State', new_admin_state_path %>
