<div class="footer" id="footer">
  <div class="contact-wrapper">
    <%= image_tag 'small_brown_logo_circle_text.png' %>
    <ul class="contact-info">
      <li>
        <span>Tel.</span>
        <a href="tel:720-432-0133">720-432-0133</a>
      </li>
      <li>
        <span>Email</span>
        <a href="mailto:kent@slaymakercellars.com">Kent@SlaymakerCellars.com</a>
      </li>
      <li>
        <span>Address</span>
        <span>PO Box 726, Idaho Springs, CO 80452</span>
      </li>
      <li>
        <span>Follow</span>
        <ul>
          <li>
            Twitter
          </li>
          <li>
            Facebook
          </li>
          <li>
            Instagram
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="bottom-stripe">
    <span>&#169;<%= Date.today.year %> Slaymaker Cellars</span>
    <span>Site Design by <a href="https://www.weareember.com/">Ember Co.</a></span>
  </div>
</div>